<!DOCTYPE html>
<html>
    <head>
        <title>Atlanta's Best Bowling!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>97 Bowling Alley Lane, Boulder CO</p>
        <ul>
        <li>Monday: 9a-5p</li>
        <li>Tuesday: 9a-5p</li>
        <li>Wednesday: CLOSED</li>
        <li>Thurday: 12p-9p</li>
        <li>Friday: 12p-9p</li>
        <li>Saturday: ALL DAY</li>
        <li>Sunday: CLOSED</li>
       </ul>

       <h2>Bet You Can't Bowl A Strike Every Time</h2>
       <ul>
       <li><em> October 21, 2020 @ 2pm : Subject to Change</em></li>
       <li> December 1, 2020 @ 6pm</li>
       </ul>

       <p>97 Bowling Alley Lane, Boulder CO </p>
    </body>
</html>